<%= form_for(@packing_alert) do |f| %>
    <% if @packing_alert.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@packing_alert.errors.count, "error") %> prohibited this move type from being saved:</h2>

          <ul>
            <% @packing_alert.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :active %><br>
      <%= f.check_box :active %>
    </div>
    <button type="submit" name="commit" class="btn btn-primary">Save</button>
    <%= link_to 'Back', packing_alerts_path, class: 'btn btn-primary' %>
<% end %>
