<%= form_for (@config_parameter) do |f| %>
    <% if @config_parameter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@config_parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

          <ul>
            <% @config_parameter.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :key_description %><br>
      <%= f.text_field :key_description, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :value %><br>
      <%= f.text_field :value, class: 'form-control' %>
    </div>

    <button type="submit" name="commit" class="btn btn-primary">Save</button>
    <%= link_to 'Back', config_parameters_path, class: 'btn btn-primary' %>
<% end %>