<%= form_for(@truck_size) do |f| %>
    <% if @truck_size.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@truck_size.errors.count, "error") %> prohibited this truck size from being saved:</h2>

          <ul>
            <% @truck_size.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :active %><br>
      <%= f.check_box :active %>
    </div>
    <button type="submit" name="commit" class="btn btn-primary">Save</button>
    <a class="btn btn-primary" href="javascript:history.go(-1)">Back</a>
<% end %>