<legend>Move Source</legend>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Move Type', new_move_source_path, class: 'btn btn-primary' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>Description</th>
        <th>Is Active?</th>
        <th>Actions</th>
      </tr>
      <% @move_sources.each do |move_source| %>
          <tr>
            <td><%= move_source.description %></td>
            <td><%= check_box_tag 'active', move_source.active, move_source.active, disabled: true %></td>
            <td>
              <%= link_to 'Edit', edit_move_source_path(move_source) %>
              <%= link_to 'Destroy', move_source, method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
