<% @destinations.each.with_index do |destination, index| %>
    <div class="row destination-row colpd">
      <div class="form-group col0-5 colmr">
        <label></label><br/>
        <label><b>Dest <%= (index == 0 ? '' : (index + 1).to_s) %>:</b></label>
      </div>
      <% if @settings.show_destination_no %>
          <div class="form-group col0-5 colmr">
            <%= label :move_record, :no, id: "destinationNo1", class: "hhidden labels" %><br>
            <%= text_field "move_record_destination[#{index}]", :no, class: 'form-control data-no', style: 'width:100%', readonly: true, placeholder: "No", onchange: "showLabel('destinationNo1')" %>
          </div>
      <% end %>
      <% if @settings.show_destination_street %>
          <div class="form-group col1 colmr">
            <%= label :move_record, :street, id: "destinationStreet1", class: "hhidden labels" %><br>
            <%= text_field "move_record_destination[#{index}]", :street, class: 'form-control data-street', style: 'width:100%', readonly: true, placeholder: "Street", onchange: "showLabel('destinationStreet1')" %>
          </div>
      <% end %>
      <% if @settings.show_destination_apartment %>
          <div class="form-group col0-5 colmr">
            <%= label :move_record, :apartment, id: "destinationApartment1", class: "hhidden labels" %><br>
            <%= text_field "move_record_destination[#{index}]", :apartment, class: 'form-control', style: 'width:100%', readonly: true, placeholder: "Apartment", onchange: "showLabel('destinationApartment1')" %>
          </div>
      <% end %>
      <% if @settings.show_destination_entry_number %>
          <div class="form-group col0-5 colmr">
            <%= label :move_record, :entry_number, "Entry #", id: "destinationEntryNumber1", class: "hhidden
                labels" %><br>
            <%= text_field "move_record_destination[#{index}]", :entry_number, class: 'form-control', style: 'width:100%', readonly: true, placeholder: "Entry #", onchange: "showLabel('destinationEntryNumber1')" %>
          </div>
      <% end %>
      <% if @settings.show_destination_building %>
          <div class="form-group col1 colmr">
            <%= label :move_record, :building, id: "destinationBuilding1", class: "hhidden labels" %><br>
            <%= text_field "move_record_destination[#{index}]", :building, class: 'form-control', style: 'width:100%', readonly: true, placeholder: "Building", onchange: "showLabel('destinationBuilding1')" %>
          </div>
      <% end %>
      <% if @settings.show_destination_city %>
          <div class="form-group col1 colmr">
            <%= label :move_record, :city, id: "destinationCity1", class: "hhidden labels" %><br>
            <!-- <%= text_field "move_record_destination[#{index}]", :city, class: 'form-control data-city', style: 'width:100%', readonly: true, placeholder: "City", onchange: "showLabel('destinationCity1')" %> -->
            <%= select "move_record_destination[#{index}]", :city, {}, {include_blank: "City"}, :class => 'form-control text-grey', style: 'width:100%', readonly: true, onchange: "showLabel('destinationCity1')" %>
          </div>
      <% end %>
      <% if @settings.show_destination_locale %>
          <div class="form-group col1 colmr">
            <%= label :move_record, :locale, id: "destinationLocale1", class: "hhidden labels" %><br>
            <!-- <%= text_field "move_record_destination[#{index}]", :locale, class: 'form-control', style: 'width:100%', readonly: true, placeholder: "Locale", onchange: "showLabel('destinationLocale1')" %> -->
            <%= select "move_record_destination[#{index}]", :locale, {}, {include_blank: "Locale"}, :class => 'form-control text-grey', style: 'width:100%', readonly: true, onchange: "showLabel('destinationLocale1')" %>
          </div>
      <% end %>
      <% if @settings.show_destination_province %>
          <div class="form-group col0-5 colmr">
            <%= label :move_record, :province, "Prov", id: "destinationProvince1", class: "hhidden labels" %><br>
            <%= select "move_record_destination[#{index}]", :province, {}, {include_blank: "Prov."}, :class => 'form-control text-grey', style: 'width:100%', readonly: true, onchange: "showLabel('destinationProvince1')" %>
          </div>
      <% end %>
      <% if @settings.show_destination_postal_code %>
          <div class="form-group col0-5 colmr">
            <%= label :move_record, :postal_code, "PC", id: "destinationPostalCode1", class: "hhidden labels" %><br>
            <%= text_field "move_record_destination[#{index}]", :postal_code, class: 'form-control data-postal-code', style: 'width:100%', readonly: true, placeholder: "PC", onchange: "showLabel('destinationPostalCode1')" %>
          </div>
      <% end %>
      <div class="row colpd">
        <% if @settings.show_destination_access_details %>
            <div class="form-group col6 colmr">
              <%= label :move_record, :access_details, "Destination Access Alert Details", id: "destinationAccessDetails1", class: "hhidden labels" %><br>
              <%= text_field "move_record_destination[#{index}]", :access_details, class: 'form-control', style: 'width:100%', readonly: true, placeholder: "Destination Access Alert Details", onchange: "showLabel('destinationAccessDetails1')" %>
            </div>
        <% end %>
        <% if @settings.show_destination_access_alert %>
            <div class="form-group col1">
              <%= label :move_record, :access_alert, id: "destinationAccessAlert1", class: "hhidden labels" %><br>
              <%= select "move_record_destination[#{index}]", :access_alert_id, options_from_collection_for_select(@access_alert, :description, :description, @settings.destination_access_alert.description), {include_blank: "Access Alert"}, :class => 'form-control text-grey', style: 'width:100%', data_id: 'destination_access_alert_id', readonly: true, onchange: "showLabel('destinationAccessAlert1')" %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
