<div class="message-inbox-truck-calendar new-message-truck-calendar" href="#messages">
  <div class="box colpd">
    <div class="col-md-12 box-header red-background">
      <div class="row legend2">
        <div class="col-md-1">
          <span>MAIL</span>
        </div>
        <div class="col-md-1">
          <span>FROM</span>
        </div>
        <div class="col-md-8 row">
          <div class="col-md-4">
            <span>TO</span>
          </div>
          <div class="col-md-4">
            <span>SUBJECT</span>
          </div>
          <div class="col-md-4">

          </div>
        </div>
        <div class="col-md-2">
          TIME/DATE
        </div>
      </div>
    </div>
  </div>
  <div class="form-group"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-1">
        <i class='icon-star-empty star-priority fa-2x pointer' title="Toggle for normal/important/urgent priority"></i>
        <input type="hidden" class="message-priority" value="0"/>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-8 row">
        <div class="col-md-4">
          <% staff = {'Staff' => [['All', 'staff_all']] + @all_staff_users.map { |v| [v.name, 'staff_' + v.id.to_s] }} %>
          <% task = {'Role' => @all_subtask.map { |v| [v.name, 'task_' + v.id.to_s] }} %>
          <% data_select = task.merge(staff) %>
          <%= select :email, :users, grouped_options_for_select(data_select), {}, class: 'form-control multi-select-new-message-to', multiple: true, 'data-placeholder' => 'Name', style: 'visibility: hidden;height:0px;' %>

        </div>
        <div class="col-md-8">
          <% @subject_suggestions = (defined? subject_suggestions).present? ? subject_suggestions : @subject_suggestions %>
          <% @all_messages = (defined? all_messages).present? ? all_messages : @all_messages %>
          <input class='form-control message-subject' placeholder='Subject' maxlength="250" list="subject_suggestion"/>
          <datalist id="subject_suggestion">
            <%= options_from_collection_for_select(@subject_suggestions, "description", :description,) %>
          </datalist>
        </div>
        <div class="form-group clearfix"></div>
        <div class="col-md-12">
          <textarea class='form-control message-body' placeholder='Your message...' rows='1'></textarea>
        </div>
      </div>
      <div class="col-md-2 pull-right no-pright">
        <div class='form-group col-md-12 no-pright'>
          <input type="file" class="attach-file-message" multiple="true"/>
        </div>
        <div class="col-md-12" style="padding-top: 10px !important;">
          <div class="btn btn-danger btn-blue3 send-new-message-truck-calendar col-md-12" data-truck-calendar="<%= params[:group] %>">Submit</div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="form-group"></div>
  <% if @all_messages.blank? %>
      <div class="col-md-12 full-wrap-messages-truck-calendar colpd text-center"> No messages available.</div>
  <% end %>
  <div class="full-wrap-messages-truck-calendar colpd">
    <% @all_messages.each.with_index do |all_message, index| %>
        <% if all_message.present? %>
            <% main_attachment = MessagesTruckCalendar.get_attachments(all_message.account_id, all_message.id) %>
            <% to_users = all_message.user_message_truck_calendar.map { |v| v.user.name } + all_message.task_message_truck_calendar.map { |v| v.subtask_staff_group.name } %>
            <div class='panel panel-default wrap-full-message no-m-bottom' data-message="<%= all_message.id %>">
              <div class='panel-heading accordion-toggle collapsed' data-parent='#accordion<%= index %>' data-toggle='collapse' href='#collapse-<%= index %>-<%= index %>' title="Click to expand">
                <div class="row">
                  <div class="col-md-1">
                    <%= all_message.urgent == 2 ? '<i class="icon-star star-urgent" title="Urgent"></i>'.html_safe : all_message.urgent == 1 ? '<i class="icon-star star-urgent color-yellow" title="Important"></i>'.html_safe : '' %>
                    <% reminder_attached = all_message.reminder_calendar_move_record.size > 0 ? 'text-primary' : '' %>
                    <div class="reminder-event ui-draggable" data-duration="00:15" data-message-truck-calendar-id="<%= all_message.id %>">
                      <i class="icon-time <%= reminder_attached %>"></i></div>
                  </div>
                  <div class="col-md-1">
                    <span><b><%= all_message.user.name %></b></span>
                  </div>
                  <div class="row col-md-8">
                    <div class="col-md-4">
                      <span><b><%= to_users.compact.reject(&:blank?).join(', ') %></b></span>
                    </div>
                    <div class="col-md-7">
                      <span class="subject"><b><%= all_message.subject.blank? ? nil : all_message.subject %></b></span>
                  <span class="text-gray"> - <%= truncate(strip_tags(all_message.body).gsub(/&nbsp;/i, ""), length: 40)
                  %></span>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <%= main_attachment.size > 0 ? '<i class="icon-paperclip attachment-icon" title="Attachment"></i>'.html_safe : '<i class="icon-"></i>'.html_safe %>
                    <span><b><%= all_message.created_at.strftime("%l:%M %P %b %d") %></b></span>
                  </div>
                </div>
              </div>
              <div class='panel-collapse collapse' id='collapse-<%= index %>-<%= index %>'>
                <div class='panel-body body-warp-message p13'>
                  <div class="body-message col-md-8 col-md-offset-2"><%= all_message.body.blank? ? all_message.body : all_message.body.html_safe %></div>
                  <% if main_attachment.size > 0 %>
                      <div class="attachment-message col-md-8 col-md-offset-2">
                        <% main_attachment.each do |attachment| %>
                            <% temp_name = attachment.file_path.split('_') %>
                            <%= attachment.file_path.gsub(temp_name[0] +'_'+temp_name[1]+'_', '') %>
                            <a href="<%= attachment.file_path %>" target="_blank" class="link-attachment">
                              View
                            </a>
                        <% end %>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
