<legend>Move Time Alert</legend>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Move Type', new_time_alert_path, class: 'btn btn-primary' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>Description</th>
        <th>Is Active?</th>
        <th>Actions</th>
      </tr>
      <% @time_alerts.each do |time_alert| %>
          <tr>
            <td><%= time_alert.description %></td>
            <td><%= check_box_tag 'active', time_alert.active, time_alert.active, disabled: true %></td>
            <td>
              <%= link_to 'Edit', edit_time_alert_path(time_alert) %>
              <%= link_to 'Destroy', time_alert, method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
