<p><strong>Dear <%= @event.name %></strong></p>

<p>Thank you for giving <%= @account.name %> the opportunity to compete for your move.</p>

<p>Please call us at your convenience or let us know when to call you.</p>

<p>Our move-coordinators are ready and waiting to discuss your move in detail
  8-8 Monday to Friday and 8-4 on weekends.</p>

<p>We would like to show you why <%= @account.name %> is your best choice of mover for
  fair prices and quality and service.</p>

<p>Thank You, The <%= @account.name %> Team</p>

<p><%= @phone_number %></p>

<p><a href="http://<%= @account.url %>">http://<%= @account.url %></a></p>
